In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('euro2024_players.csv')

In [4]:
df.head()

,Name,Position,Age,Club,Height,Foot,Caps,Goals,MarketValue,Country
0,Marc-André ter Stegen,Goalkeeper,32,FC Barcelona,187,right,40,0,28000000,Germany
1,Manuel Neuer,Goalkeeper,38,Bayern Munich,193,right,119,0,4000000,Germany
2,Oliver Baumann,Goalkeeper,34,TSG 1899 Hoffenheim,187,right,0,0,3000000,Germany
3,Nico Schlotterbeck,Centre-Back,24,Borussia Dortmund,191,left,12,0,40000000,Germany
4,Jonathan Tah,Centre-Back,28,Bayer 04 Leverkusen,195,right,25,0,30000000,Germany

In [5]:
df.shape

(623, 10)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         623 non-null    object
 1   Position     623 non-null    object
 2   Age          623 non-null    int64
 3   Club         623 non-null    object
 4   Height       623 non-null    int64
 5   Foot         620 non-null    object
 6   Caps         623 non-null    int64
 7   Goals        623 non-null    int64
 8   MarketValue  623 non-null    int64
 9   Country      623 non-null    object
dtypes: int64(5), object(5)
memory usage: 48.8+ KB

In [7]:
country_goals = {}

In [8]:
for country in df['Country'].unique():
    total_goals = df[df['Country'] == country]['Goals'].sum()
    print(country, total_goals)
    country_goals.update({country: total_goals})

Germany 134
Scotland 59
Hungary 60
Switzerland 125
Spain 95
Croatia 147
Albania 40
Italy 59
Slovenia 78
England 100
Denmark 135
Serbia 129
Poland 154
Netherlands 141
Austria 93
France 192
Belgium 177
Slovakia 67
Romania 63
Ukraine 114
Turkiye 71
Georgia 64
Portugal 225
Czech Republic 65

In [9]:
country_goals

{'Germany': 134,
 'Scotland': 59,
 'Hungary': 60,
 'Switzerland': 125,
 'Spain': 95,
 'Croatia': 147,
 'Albania': 40,
 'Italy': 59,
 'Slovenia': 78,
 'England': 100,
 'Denmark': 135,
 'Serbia': 129,
 'Poland': 154,
 'Netherlands': 141,
 'Austria': 93,
 'France': 192,
 'Belgium': 177,
 'Slovakia': 67,
 'Romania': 63,
 'Ukraine': 114,
 'Turkiye': 71,
 'Georgia': 64,
 'Portugal': 225,
 'Czech Republic': 65}

In [10]:
# Sort the dictionary
country_goals = dict(sorted(country_goals.items(), key=lambda item: item[1], reverse=True))

In [11]:
country_goals

{'Portugal': 225,
 'France': 192,
 'Belgium': 177,
 'Poland': 154,
 'Croatia': 147,
 'Netherlands': 141,
 'Denmark': 135,
 'Germany': 134,
 'Serbia': 129,
 'Switzerland': 125,
 'Ukraine': 114,
 'England': 100,
 'Spain': 95,
 'Austria': 93,
 'Slovenia': 78,
 'Turkiye': 71,
 'Slovakia': 67,
 'Czech Republic': 65,
 'Georgia': 64,
 'Romania': 63,
 'Hungary': 60,
 'Scotland': 59,
 'Italy': 59,
 'Albania': 40}

In [17]:
# Min, Max and Avg age of of each country player
print('Country, AVG, Min, Max')
for country in df['Country'].unique():
    avg_age = df[df['Country'] == country]['Age'].mean()
    min_age = df[df['Country'] == country]['Age'].min()
    max_age = df[df['Country'] == country]['Age'].max()

    print(f'{country},{round(avg_age)},{min_age},{max_age}')

Country, AVG, Min, Max
Germany,28,20,38
Scotland,28,21,32
Hungary,27,20,34
Switzerland,28,21,35
Spain,27,16,38
Croatia,28,21,38
Albania,27,20,35
Italy,26,22,34
Slovenia,27,21,36
England,26,19,34
Denmark,28,21,37
Serbia,27,20,35
Poland,28,19,36
Netherlands,27,21,34
Austria,27,20,35
France,27,18,37
Belgium,27,19,37
Slovakia,27,18,37
Romania,27,22,36
Ukraine,26,21,34
Turkiye,26,18,35
Georgia,27,18,38
Portugal,27,19,41
Czech Republic,25,20,31

# Country-wise Analysis

In [6]:
df.columns

Index(['Name', 'Position', 'Age', 'Club', 'Height', 'Foot', 'Caps', 'Goals',
       'MarketValue', 'Country'],
      dtype='object')

In [7]:
df.Country.unique()

array(['Germany', 'Scotland', 'Hungary', 'Switzerland', 'Spain',
       'Croatia', 'Albania', 'Italy', 'Slovenia', 'England', 'Denmark',
       'Serbia', 'Poland', 'Netherlands', 'Austria', 'France', 'Belgium',
       'Slovakia', 'Romania', 'Ukraine', 'Turkiye', 'Georgia', 'Portugal',
       'Czech Republic'], dtype=object)

### Germany

In [8]:
df_germany = df[df['Country'] == 'Germany']

In [9]:
df_germany.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, 0 to 25
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         26 non-null     object
 1   Position     26 non-null     object
 2   Age          26 non-null     int64
 3   Club         26 non-null     object
 4   Height       26 non-null     int64
 5   Foot         26 non-null     object
 6   Caps         26 non-null     int64
 7   Goals        26 non-null     int64
 8   MarketValue  26 non-null     int64
 9   Country      26 non-null     object
dtypes: int64(5), object(5)
memory usage: 2.2+ KB

In [10]:
# Germany players age stats
df_germany.Age.describe()

count    26.000000
mean     28.115385
std       4.650393
min      20.000000
25%      26.000000
50%      27.500000
75%      31.750000
max      38.000000
Name: Age, dtype: float64

In [11]:
# who are the youngest and oldest players in Germany for Euro 2024?
print(f'Youngest player in Germany: {df_germany[df_germany.Age == df_germany.Age.min()].Name.item()}')
print(f'Oldest player in Germany: {df_germany[df_germany.Age == df_germany.Age.max()].Name.item()}')

Youngest player in Germany: Aleksandar Pavlovic
Oldest player in Germany: Manuel Neuer

In [12]:
# What is the age of Toni Kroos?
print(f'Age of Toni Kroos is: {df_germany[df_germany.Name == "Toni Kroos"].Age.item()}')

Age of Toni Kroos is: 34

In [13]:
# Germany Player Goal stats
df_germany['Goals'].describe()

count    26.000000
mean      5.153846
std      10.090361
min       0.000000
25%       0.000000
50%       0.000000
75%       5.250000
max      45.000000
Name: Goals, dtype: float64

In [14]:
# Who has the most goal?
df_germany[df_germany['Goals'] == df_germany.Goals.max()]

,Name,Position,Age,Club,Height,Foot,Caps,Goals,MarketValue,Country
22,Thomas Müller,Second Striker,34,Bayern Munich,185,right,129,45,8000000,Germany