In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('euro2024_players.csv')

In [3]:
df.head()

,Name,Position,Age,Club,Height,Foot,Caps,Goals,MarketValue,Country
0,Marc-André ter Stegen,Goalkeeper,32,FC Barcelona,187,right,40,0,28000000,Germany
1,Manuel Neuer,Goalkeeper,38,Bayern Munich,193,right,119,0,4000000,Germany
2,Oliver Baumann,Goalkeeper,34,TSG 1899 Hoffenheim,187,right,0,0,3000000,Germany
3,Nico Schlotterbeck,Centre-Back,24,Borussia Dortmund,191,left,12,0,40000000,Germany
4,Jonathan Tah,Centre-Back,28,Bayer 04 Leverkusen,195,right,25,0,30000000,Germany

In [4]:
df.shape

(623, 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         623 non-null    object
 1   Position     623 non-null    object
 2   Age          623 non-null    int64
 3   Club         623 non-null    object
 4   Height       623 non-null    int64
 5   Foot         620 non-null    object
 6   Caps         623 non-null    int64
 7   Goals        623 non-null    int64
 8   MarketValue  623 non-null    int64
 9   Country      623 non-null    object
dtypes: int64(5), object(5)
memory usage: 48.8+ KB

# Country-wise Analysis

In [8]:
df.Country.unique()

array(['Germany', 'Scotland', 'Hungary', 'Switzerland', 'Spain',
       'Croatia', 'Albania', 'Italy', 'Slovenia', 'England', 'Denmark',
       'Serbia', 'Poland', 'Netherlands', 'Austria', 'France', 'Belgium',
       'Slovakia', 'Romania', 'Ukraine', 'Turkiye', 'Georgia', 'Portugal',
       'Czech Republic'], dtype=object)

### Germany

In [9]:
df_germany = df[df['Country'] == 'Germany']

In [10]:
df_germany.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, 0 to 25
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         26 non-null     object
 1   Position     26 non-null     object
 2   Age          26 non-null     int64
 3   Club         26 non-null     object
 4   Height       26 non-null     int64
 5   Foot         26 non-null     object
 6   Caps         26 non-null     int64
 7   Goals        26 non-null     int64
 8   MarketValue  26 non-null     int64
 9   Country      26 non-null     object
dtypes: int64(5), object(5)
memory usage: 2.2+ KB

In [13]:
df_germany.Age.mean()

28.115384615384617